<div [ngSwitch]="isTrue">
    <h3>会员管理</h3>
    <table>
        <thead>
            <tr>
                <th>序号</th><th>用户名</th><th>密码</th><th>权限</th><th>注册时间</th>
            </tr>
        </thead>
        <tbody *ngSwitchCase="true">
            <tr *ngFor="let item of record">
                <td>{{item.uid}}</td>
                <td>{{item.uname}}</td>
                <td>{{item.upwd}}</td>
                <td>{{item.power==1?'管理员':'用户'}}</td>
                <td>{{item.timer}}</td>
            </tr>
        </tbody>
    </table>
    <h1 *ngSwitchCase="false">权限不足无法访问</h1>
</div>